- link = "/articoli/#{article[:id]}-"+article[:name_url]

%h2
  %a{ href: article[:link] }= article[:title]
.text{ :"data-images" => article[:images].to_json, :"data-text" => article[:text]  }><
  = article[:text]


.clear

.article_infos
  .by
    = article[:published_by]
  .published_at
    =# haml.format_date(published_at)

- full_link = "http://#{request_host}#{link}"


.fb
  .fb-like{ "data-href" => full_link, "data-send" => "true", "data-width" => "300", "data-show-faces" => "true", "data-action" => "recommend", "data-font" => "trebuchet ms" }
.clear

.fb-comments{ "data-href" => full_link, "data-num-posts" => 2, "data-width" => "550" }

.clear
