- link = "/articoli/#{id}-#{name_url}"

.article
  %h2
    %a{ href: link }= title
  .text
    = article_preview text
  .article_infos  
    .published_at
      = format_date published_at, :short
    .by
      = published_by
  .clear_left