- link = "/articoli/#{id}-#{name_url}"
- full_link = "http://#{request_host}#{link}"

%h2
  %a{ href: link }= title
.text{ :"data-images" => images.to_json, :"data-text" => text  }><
  = text


.clear

.article_infos
  .published_at
    = format_date published_at
  .by
    = published_by

.fb
  .fb-like{ "data-href" => full_link, "data-send" => "true", "data-width" => "300", "data-show-faces" => "true", "data-action" => "recommend", "data-font" => "trebuchet ms" }
.clear

.fb-comments{ "data-href" => full_link, "data-num-posts" => 2, "data-width" => "550" }

.clear