.right2.right
  / foto
  - link = "https://www.facebook.com/pages/Riot-Van/45766863663?sk=photos_albums"
  %h3
    %a{ href: link }  Foto
  %iframe{:allowfullscreen => "true", :height => "210", :mozallowfullscreen => "true", :src => "http://files.photosnack.com/iframejs/embed.html?hash=ptplb333&t=1397230791", :style => "border:none", :webkitallowfullscreen => "true", :width => "100%", style: "padding: 0 3%; margin-bottom: 20px "}


  / video story telling
  - video_id = "CWixPNYVmI0"

  %h3 Storytelling
  %iframe.last_video{ width: "100%", src: "//www.youtube.com/embed/#{video_id}", frameborder: 0, allowfullscreen: true }


  .others
    %h3 Se ti piace Riot Van sostienilo con una donazione

    = haml :"_donate_button"
    %br


  -#%h2= "Progetti Principali".upcase

  -#%ul
  -#  %li
  -#    %h4
  -#      %a{ href: "/issues" } Riot Van
  -#    %span Free Press, edizione cartacea e digitale (pdf)
  -#  %li
  -#    %h4
  -#      %a{ href: "/videos" } Story Telling
  -#    %span Video interview + play in acustico, band locali come:
  -#    -# %a{ href: "" } Passogigante,
  -#    -# %a{ href: "" } A Free Mama,
  -#    -# %a{ href: "" } Street Clerks
  -#    %b Passogigante,
  -#    %b A Free Mama,
  -#    %b Street Clerks

  .partners
    %h3 PARTNERS
    %a{ href: "http://www.blueswriters.com" }
      %img{ src: "/images/partners/blueswriters.png" }
    %a{ href: "http://nodump.it" }
      %img{ src: "/images/partners/no_dump.png" }
    %a{ href: "http://guerrillaspam.blogspot.it" }
      %img{ src: "/images/partners/guerrilla_spam.png" }
    %a{ href: "http://www.velvetgoldmine.eu" }
      %img{ src: "/images/partners/gold.png" }

    /
      %a{ href: "http://www.parkourfirenze.org" }
        %img{ src: "/images/partners/parkhour.png" }
      %a{ href: "http://super-magazine.com" }
        %img{ src: "/images/partners/super_magazine.png" }



.right
  / video sez. principale
  - video_id = "eIecUWC9SPk"
  %h3
    %a{ href: "/videos" } Video
  %iframe.last_video{ width: "100%", src: "//www.youtube.com/embed/#{video_id}", frameborder: 0, allowfullscreen: true }

  .last_number
    %h3
      %a{ href: "/issues" } Magazine
    %a{ href: "/issues/#{ISSUE_NUM}" }
      %img{ src: "/images/numbers/#{ISSUE_NUM}.png" }


  /
    .non.pillola.ma.concorso_fotografico
      %h3 Concorso fotografico
      %p
        - link_to "Scarica il bando", "/pdf/concorso_fotografico2.pdf"

  /
    .spam_libro.last_number
      %a{ href: "/guerrilla_spam/libro" }
        %h3 Tutto ciò che sai è falso
        %img{ src: "/images/guerrilla_spam/guerrilla_spam_libro_dettaglio.jpg"}
  .spam_libro.last_number
    %a{ href: "/events" }
      %h2.small= "Calendario Eventi"


  .others
    %h2.btn
      %a{ href: "/lista_distribuzione" } Lista Distribuzione
    %h2.btn
      %a{ href: "/soluzioni_cruciverba" } Soluz. Cruciverba


  .pillola
    %h3 Spillo
    %p
      %span “

      //////// CITAZIONE
      La voglia che abbiamo di essere in forma a volte si trasforma in nuovi stili d'insonnia






      ////////////////////////

      %span ”
    // non cancellare qua...
    %p

      //////// AUTORE
      Nuovi Stili D'insonnia, Fabri Fibra
      ////////////////////////

  = haml :"_newsletter"

  .events
    -# %h3
    -#  %a{ href: "/events" } Ultimi Eventi
    -#%div
    -#  %span.date 22/02/2012
    -#  %a{ href: "/event" } Evento next2
    -#
  -# .music
  -#   %h3 Musica
  -#   - playlist = "1237306"
  -#   - color = "ff7700"
  -#   -# if connection_is_available
  -#   - src = "http://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F"+playlist+"}&amp;auto_play=false&amp;show_artwork=false&amp;color=ff7700"
  -#   %iframe{ src: src, scrolling: "no", frameborder: "no" }



  .fb_like_box
    .fb-like-box{ :"data-href" => "https://www.facebook.com/pages/Riot-Van/45766863663", :"data-width" => "240px", :"data-show-faces" => "true", :"data-border-color" => "#FFF", :"data-stream" => "false", :"data-header" => "true" }


.page.home
  #img_gal
    .caption

  %section.articles
    .fiveapi_element{ :"data-type" => "collection", :"data-name" => "articoli" }
      - if @articles
        - @articles.each do |article|
          = partial :articolo, article
  %p.pagination_text
    Pagine
  .pagination{ :"data-collection" => "articoli" }
