- meta_description = "Riot Van magazine free press di attualità, musica e cultura. Promozione di una cultura dell'informazione attenta, indipendente ed equilibrata."
- title = "RiotVan"
- image = "http://riotvan.net/images/rv_logo_square.png"
- url = "http://riotvan.net"

- if @article
  - meta_description = article_preview @article[:text]
  - meta_description = meta_description.gsub(/\[(file|image)_\d+\]/, '').strip
  - title = @article[:title]
  - image = @article[:images].first
  - image = "http://#{FIVEAPI_HOST}#{image["url"]}" if image
  - url = "#{url}/articoli/#{@article[:id]}-#{@article[:name_url]}"

- split = request.path.split("/")
- if split[1] == "issues" && (num = split[2]) != nil
  - title = "Riot Van - Numero #{num}"
  - image = "http://riotvan.net/images/numbers/#{num}.png"
  - url = "#{url}/issues/#{num}"



- if split[1..2] == ["guerrilla_spam", "libro"]
  - title = "Tutto ciò che sai è falso - Guerrilla SPAM"
  - image = "http://riotvan.net/images/guerrilla_spam/guerrilla_spam_libro.jpg"
  - url = "#{url}/guerrilla_spam/libro"
  - meta_description = "Il libro di Guerrilla SPAM e' possibile ottenere una copia cartacea al solo costo di stampa! E c'e' pure la versione online!"


%meta{:content => meta_description, :name => "description"}/
%meta{:content => "riotvan, riot van, magazine, giornale, gratuito, apolitico, studentesco, universitario, media, production", :name => "keywords"}/
%meta{:content => "Francesco 'makevoid' Canessa", :name => "author"}/
%meta{:content => url, :property => "og:url"}/
%meta{:content => "RiotVan", :property => "og:site_name"}/
%meta{:content => title, :property => "og:title"}/
%meta{:content => "website", :property => "og:type"}/
%meta{:content => meta_description, :property => "og:description"}/
%meta{:content => image, :property => "og:image"}/
%meta{:content => "makevoid", :property => "fb:admins"}